@model IEnumerable<TeknikServis.Entities.Fee>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Ücretler</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Imei)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDenied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Statement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Imei)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDenied)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUserName)
                    </td>
                    <td>
                        @MyBootstrap.LinkButton("/Fee/LimitedEdit/" + @item.ProductId, "warning", "xs", "Düzenle", "edit", string.Empty)
                        @*@MyBootstrap.LinkButton("/Fee/Details/" + @item.ProductId, "info", "xs", "Detay", "search", string.Empty)*@
                        @MyBootstrap.LinkButton("/Fee/Delete/" + @item.ProductId, "danger", "xs", "Sil", "trash", string.Empty)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>