@model IEnumerable<TeknikServis.Entities.Cargo>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Raporlar</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Imei)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrackerNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsArrived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Imei)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackerNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArrived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUserName)
                    </td>
                    <td>
                        @MyBootstrap.LinkButton("/Cargo/LimitedEdit/" + @item.ProductId, "warning", "xs", "Düzenle", "edit", string.Empty)
                        @*@MyBootstrap.LinkButton("/Cargo/Details/" + @item.ProductId, "info", "xs", "Detay", "search", string.Empty)*@
                        @MyBootstrap.LinkButton("/Cargo/Delete/" + @item.ProductId, "danger", "xs", "Sil", "trash", string.Empty)
                    </td>
                </tr>
            }

        </table>
</div>
</div>