@model IEnumerable<TeknikServis.Entities.Product>

<link href="~/Content/filtertb.css" rel="stylesheet" />
<script src="~/Scripts/table-filter.js"></script>

@{
    ViewBag.Title = "Deneme";
}



<div class="container">

    <div class="row">
        <!--Kategoriler-->
        <div class="col-md-2">
            @Html.Partial("_PartialProducts")   
            @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Stok Güncelle</button>*@
        </div>
        @*<div class="row col-md-2">
                @Html.Partial("_PartialStocks")
            </div>*@
        <div class="col-md-10">
            @*@{
                    var onayli = Model.Where(x => x.Warranty == true && x.Owner.IsActive == true).OrderByDescending(x => x.ModifiedOn);
                    var beklemede = Model.Where(x => x.Warranty == false && x.Owner.IsActive == true).OrderByDescending(x => x.ModifiedOn);
                    var yolda = Model.Where(x => x.Warranty == true && x.Owner.IsActive == false).OrderByDescending(x => x.ModifiedOn);
                    var iptal = Model.Where(x => x.Warranty == false && x.Owner.IsActive == false).OrderByDescending(x => x.ModifiedOn);
                }*@

            <div class="container">
                <div class="row">
                    <section class="content">
                        @*<h1>Cihazlar</h1>*@
                        <div class="col-md-10">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="pull-left">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="btn-group">
                                                <b>Imei:</b> @Html.TextBox("SearchString")
                                                <input type="submit" class="bg-primary" value="Filtrele" />
                                            </div>

                                        }
                                    </div>
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            @*<button type="button" class="btn btn-success btn-filter" data-target="all">Tumu</button>*@
                                            @*<button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Beklemede</button>
                                                <button type="button" class="btn btn-default btn-filter" data-target="yolda">Yolda</button>
                                                <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">İptal</button>*@
                                        </div>
                                    </div>
                                    <div class="table-container">
                                        <table class="table table-filter">
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr data-status="all">
                                                        <td>
                                                            <div class="ckbox">
                                                                @MyBootstrap.LinkButton("/Product/Edit/" + @item.Id, "primary", "xs", "Düzenle", "edit", "Cihaz")
                                                            </div><br />
                                                            @*<span class="pull-right"> @MyBootstrap.LinkButton("/Product/Delete/" + @item.Id, "danger", "xs", "Sil", "remove", "")</span>*@
                                                        </td>
                                                        <td>
                                                            <a href="javascript:;" class="star">
                                                                <i class="glyphicon glyphicon-star"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div class="media">
                                                                <a href="/Product/Details/@item.Id" class="pull-left">
                                                                    <img src="https://image.freepik.com/free-icon/mobile-phone_318-70471.jpg" class="media-photo">
                                                                </a>

                                                                <div class="media-body">
                                                                    <span class="media-meta pull-right"></span>
                                                                    <h4 class="title">
                                                                        <a href="/Product/Details/@item.Id" class="pull-left">
                                                                            @item.Imei
                                                                        </a>
                                                                        <span class="pull-right pagado">
                                                                            <a href="/Product/Delete/@item.Id" style="font-size:20px; color:darkred" class="glyphicon glyphicon-remove">
                                                                            </a>
                                                                        </span>
                                                                        <span class="pull-right pagado">@item.ModifiedOn-@item.ModifiedUserName</span><br />
                                                                        <span class="pull-right pagado">
                                                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_report"
                                                                                    data-product-id="@item.Id">
                                                                                Raporlar
                                                                            </button>
                                                                        </span>

                                                                    </h4>
                                                                    <p class="summary">@item.Problems</p>

                                                                </div>
                                                            </div>

                                                            <div class="ckbox">
                                                                @if (item.Warranty == false && item.Fee != null)
                                                                {
                                                                    if (item.Fee.IsPaid)
                                                                    {
                                                                        @MyBootstrap.LinkButton("/Fee/Edit/" + @item.Id, "info", "xs", "", "thumbs-up", " " + item.Fee.Value + " TL")
                                                                    }
                                                                    else if (item.Fee.IsDenied)
                                                                    {
                                                                        @MyBootstrap.LinkButton("/Fee/Edit/" + @item.Id, "danger", "xs", "", "thumbs-down", " " + item.Fee.Value + " TL")
                                                                    }
                                                                    else
                                                                    {
                                                                        @MyBootstrap.LinkButton("/Fee/Edit/" + @item.Id, "warning", "xs", "", "time", " " + item.Fee.Value + " TL")
                                                                    }
                                                                    @*@MyBootstrap.LinkButton("/Fee/Edit/" + @item.Id, "warning", "xs", "Düzenle", "edit", " " + item.Fee.Value + " TL")*@

                                                                }
                                                                else if (item.Warranty == false && item.Fee == null)
                                                                {
                                                                    @MyBootstrap.LinkButton("/Fee/Create/" + @item.Id, "danger", "xs", "Ekle", "plus", " Ücret")
                                                                }
                                                                else if (item.Warranty == true)
                                                                {
                                                                    <h4><span class="label label-success">Ücretsiz</span></h4>
                                                                }

                                                            </div>
                                                            <div class="ckbox">
                                                                @if (item.Cargo != null)
                                                                {
                                                                    @MyBootstrap.LinkButton("/Cargo/Edit/" + @item.Id, "warning", "xs", "Düzenle", "edit", " " + item.Cargo.ModifiedOn + " TL")
                                                                    @*@MyBootstrap.LinkButton("/Cargo/Details/" + @item.Id, "success", "xs", "Düzenle", "send", " " + item.Cargo.ModifiedOn + "")*@
                                                                    @*@MyBootstrap.LinkButton("/Cargo/Deneme/", "warning", "xs", "Düzenle", "edit", "Kargo")*@
                                                                    @*@Html.Partial("_PartialEdit", item.Id)*@
                                                                }
                                                                else
                                                                {
                                                                    @MyBootstrap.LinkButton("/Cargo/Create/" + item.Id, "success", "xs", "Ekle", "plus", "Kargo")
                                                                }

                                                            </div>

                                                        </td>

                                                    </tr>

                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="content-footer">
                                <p>
                                    Page © - 2016 <br>
                                    Powered By <a href="https://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a>
                                </p>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>

    </div>

</div>


@MyBootstrap.ModalPopup(id: "modal_report", title: "Raporlar")

<script src="~/Scripts/report.js"></script>