@model TeknikServis.Entities.Product

@{
    ViewBag.Title = "Ekle";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Ekle</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Cihaz</h4>
                <hr />
                @Html.ValidationSummary(false)
                <div class="form-group">
                    @Html.LabelFor(model => model.Imei, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Imei, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Problems, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Problems, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ServiceId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Warranty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Warranty)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsRepaired, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsRepaired)
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AtService, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.AtService)
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @MyBootstrap.Button("submit", "success", string.Empty, "plus", " Ekle")
                        @MyBootstrap.LinkButton("/Product/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön")
                    </div>
                </div>
            </div>
        }

    </div>
</div>

