@model TeknikServis.Entities.Pricing

@{
    ViewBag.Title = "Düzenle";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Düzenle</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Fiyatlandırma</h4>
                <hr />
                @Html.ValidationSummary(false)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.DefectType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DefectType, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @MyBootstrap.Button("submit", "success", string.Empty, "floppy-saved", " Kaydet")
                        @MyBootstrap.LinkButton("/Pricing/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön")
                    </div>
                </div>
            </div>
        }
    </div>
</div>

